@use '../../assets/styles/vars.scss';

.badge_container {
    position: relative; 
    display: inline-block;
    svg{
        width: 2rem;
        height: 2rem;
    }
}

.badge_description {
    visibility: hidden;
    width: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    
    position: absolute;
    z-index: 3;
    bottom: 110%; 
    left: 50%;
    margin-left: -80px; 
    
    opacity: 0;
    transition: opacity 0.3s;
}

.badge_container:hover .badge_description {
    visibility: visible;
    opacity: 1;
}