@import '@/assets/styles/vars.scss';
html{
    font-size: 15px;
}
.App{
    height: auto;
    min-height: 100vh;
    width: 100%;
}
html:has(.App.white-theme){
    background-image: $fundo-branco;
    background-color: map-get($map: $colors, $key: branco);
    
}
html:has(.App.dark-theme){
    background-image: $fundo-preto;
    background-color: map-get($map: $colors, $key: preto);
}
::-webkit-scrollbar {
    width: .4rem;
    height: .4rem;
}

::-webkit-scrollbar-track {
    background:transparent;
}

::-webkit-scrollbar-thumb {
    background: map-get($map: $colors, $key: azulEscuro);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:active {
    background: map-get($map: $colors, $key: ciano);
}
@media screen and (max-width: 560px) {
    html{
        font-size: 14px;
    }
}