@use '../../../../../../assets/styles/vars.scss';

.comment_area{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 65%;
    margin-bottom: 1rem;
    p{
        @include vars.styleTexto(var(--text-primary), 1.25rem, 700);
    }
    form{
        display: flex;
        justify-content: flex-start;
        width: 90%;
        gap: .69rem;
        width: 100%;
        align-items: center;

        .profile_image_comment{
            display: inline-block;
            align-self: flex-start;
            width: 4.1875rem;
            height: 3.7rem;
            border-radius: 100%;
            img, svg{
                height: 100%;
                width: 100%;
                border-radius: 100%;
            }
            img{
                background-size: contain;
                object-fit: cover;
            }
        }
        .commenting{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: .30rem;
            label{
                @include vars.styleTexto(var(--text-primary), 1rem, 400);
                span{
                    font-weight: 700;
                }
            }
            .input_container{
                display: flex;
                position: relative;
                align-items: center;
                textarea{
                    @include vars.styleTexto(var(--text-primary), .88rem, 400);
                    padding: .5rem .75rem;
                    width: 100%;
                    border: 1px solid vars.$cor-cinzaDescD;
                    background-color: transparent;
                    resize: none;
                    field-sizing: content;
                }
                button{
                    position: absolute;
                    display: flex;
                    align-self: flex-end;
                    right: .5%;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
    .comments{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2.3rem;
        align-self: center;
        width: 95%;
    }
}

.no_comment{
    align-self: center;
    color: vars.$cor-cinzaDescD !important;
    font-size: 1rem !important;
    margin-bottom: 1rem;
}

@media screen and (max-width: 860px) {
    .comment_area{
        width: 100% !important;
    }
}