@use '@/assets/styles/vars.scss';

.content {
    @extend %content-default;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.7rem;

    .div_buttons_links {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .results {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .88rem;

        h3, h1 {
            @include vars.styleTexto(var(--text-primary), 1.25rem, 700);
        }

        .quizes_container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: .63rem;
            justify-content: center;
        }

        .seemore_button {
            align-self: center;
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3rem;
            width: 80%;
            padding: 0.5rem 1rem;
            border-radius: 0.6875rem;
            background-color: transparent;
            
            border: 1px solid var(--seemore-button-border);
            
            p {
                @include vars.styleTexto(var(--text-primary), 1rem, 700);
            }

            svg {
                transition: .2s linear;
                margin-top: 2px;
                width: 2%;
            }

            &.active {
                svg {
                    margin-top: 0;
                    transform: rotate(-180deg);
                    transition: .2s linear;
                }
            }
        }

        .more_content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.5rem;

            .end_of_content {
                width: 35.1875rem;
                height: 0.3125rem;
                border-radius: 2.5rem;
                background-color: var(--horizontal-rule-color);
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .content {
        margin-top: 9rem !important;
        .results {
            h3, h1 {
                align-self: center;
            }
        }
    }
}